Checks: >
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-macro-parentheses,
  -bugprone-assignment-in-if-condition,
  -bugprone-branch-clone,
  -bugprone-narrowing-conversions,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-unsafe-functions,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling

HeaderFilterRegex: 'src/.*\.h$'
